footer {
	color: $paragrey;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h2 {
		text-transform: uppercase;
		@include fontSize(20);
	}
	p {
		font-style: italic;
		font-family: $secondaryFont;
	}
	i {
		@include fontSize(25);
		color: $paragrey;
	}
}

.footer__contact a {
	display: flex;
	align-items: center;
	transition: 0.2s;
	i {
		padding-left: 56px;
		padding-right: 35px;
		@include fontSize(45);
		transition: 0.2s;
	}
	p {
		@include fontSize(18);
	}
}

.footer__contact a:hover {
	transform: translateX(2px);
	color: $salmon;
	i {
		color: $salmon;
	}
}

.footer__socMedia a {
	padding: 17.5px;
	i {
		transition: all 0.2s ease-in;
	}
}

.footer__socMedia i:hover {
	color: $salmon;
}

.footer__responsive {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.footer__credit {
	padding-right: 56px;
	@include fontSize(15);
	text-align: right;
}
.footer__quote {
	text-transform: uppercase;
	font-style: normal;
	@include fontSize(7);
	font-family: $mainFont;
}


@include respond-to("medium") {
	footer {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: auto;
		padding-bottom: 5%;
	}
	.footer__contact a {
		padding-top: 5%;
		padding-bottom: 5%;
		i {
			padding-left: 0;
		}
	}
	.footer__responsive {
		flex-direction: row-reverse;
	}
	.footer__socMedia a {
			padding: 7.5px;
		}
	.footer__credit {
		padding-right: 0;
	}
}

@include respond-to("small") {
	.footer__contact {
		text-align: center;
	}
	.footer__contact a i {
		display: none;
	}
	.footer__responsive {
		flex-direction: column;
		width: 100%;
		text-align: center;
	}
	.footer__credit {
		text-align: center;
		padding-top: 5%;
		padding-bottom: 5%;
	}
}