//for general section layout see blog partial

.contactForm {
	background: $backgroundtwo;
	padding-bottom: 60px;
}

#hidden_iframe {
	display: none;
}

.contactForm__form {
	width: 65%;
	ul {
		list-style: none;
	}
	li {
		padding: 2%;
	}
	label {
		color: $paragrey;
		@include fontSize(14);
		font-weight: 400;
	}
	input, textarea {
		width: 100%;
		display: block;
		border: none;
		background: rgba(198, 223, 223, 0);
		border-bottom: solid 1px $bordergrey;
		outline: none;
		color: $headergrey;
		@include fontSize(16);
		font-weight: 500;
		padding: 2%;
		height: 50px;
	}
	.textarea {
		resize: none;
	}
	button {
		@include fontSize(12);
		border: none;
		background: rgba(198, 223, 223, 0);
		i {
			@include fontSize(25);
			font-weight: 400;
		}
	}
	.contactForm__header{
		p {
			@include fontSize(18);
		}
	}
	button:hover {
		color: $teal;
		i {
			color: $teal;
		}
	}
}

@include respond-to("medium") {
	.contactForm {
		padding-bottom: 0;
	}
	.contactForm__wrapper {
		display: block;
		height: 100%;
	}
	.contactForm__form {
		width: 100%;
		padding-top: 40px;
	}
}