.wrapper {
	max-width: 62%;
	margin: 0 auto;
}

body {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: $paragrey;
}

a {
	text-decoration: none;
	color: $paragrey;
}

.section__header {
	color: $headergrey;
	p {
		@include fontSize(20);
		font-style: italic;
		font-family: 'Libre Baskerville', serif;
	}
	h2 {
		@include fontSize(30);
		font-weight: 500;
	}
}