

header {
	@include fontSize(16);
	min-height: 840px;
	position: relative;
	background:linear-gradient(480deg, rgba(205, 231, 231, 0), rgba(242, 251, 255, 0.81), rgba(235, 246, 249, 0.85), rgba(233, 250, 251, 0.66), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(/assets/hero.jpg);
	background-size: cover;
	background-position: center;
	nav {
		animation: fadein 3s;
		padding-top: 58px;
		padding-right: 10px;
		letter-spacing: 4px;
		text-transform: uppercase;
		font-size: 0.8em;
		ul {
			display: flex;
			justify-content: flex-end;
			list-style: none;
		}
		li {
			padding-right: 25px;
			transition: all 0.2s ease-in;
		}
		li:hover {
			transform: scale(1.05);
			color: $salmon;
		}
		a {
			padding: 10px;
		}
		.nav__selected {
			font-weight: 700;
		}
	}
}

.header__blurb {
	animation: fadein 3s;
	h1 {
		padding-top: 50px;
		padding-bottom: 10px;
		color: $headergrey;
		@include fontSize(48);
		font-weight: 500;
		font-family: $secondaryFont;
	}
	h2 {
		font-family: $mainFont;
		@include fontSize(11);
		padding-bottom: 33px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 4px;
		padding-left: 10px
	}
	p {
		width: 525px;
		line-height: 24px;
		padding-left: 10px;
	}
	.header__resume_blurb, .header__contact_blurb {
		line-height: 37px;
		a {
			@include fontSize(10);
			padding-left: 11px;
		}
		i {
			@include fontSize(25); 
		}
	}
	.header__resume_blurb {
		padding-top: 37px;
	}
	.header__contact_blurb {
		padding-bottom: 55px;
	}

	.header__socMedia{
		padding-top: 28px;
		padding-left: 10px;
		i {
			@include fontSize(20);
		}
		a {
			transition: all 0.2s ease-in;
		}
		a:hover {
			color: $salmon;
		}
		a:nth-of-type(2) {
			padding-left: 35px;
			padding-right: 35px;
		}
		a:nth-of-type(3) {
			padding-right: 35px;
		}
	}
}

@include respond-to("medium") {
	header {
		background: linear-gradient(480deg, rgba(205, 231, 231, 0), rgba(242, 251, 255, 0.81), rgba(235, 246, 249, 0.85), rgba(233, 250, 251, 0.72), rgba(255, 255, 255, 0.46), rgba(255, 255, 255, 0)), url(/assets/hero.jpg);
		background-size: cover;
		background-position: center;
	}
	.header__blurb {
		h1 {
			@include fontSize(38);
		}
		p {
			width: 100%;
		}
	}
	.link__arrow {
		position: static;
	}
}

@include respond-to("small") {
	header {
		@include fontSize(13);
		background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url(/assets/hero.jpg);
		background-size: cover;
		background-position: center;
		nav {
			display: none;
		}
	}

	.header__blurb {
		h1 {
			@include fontSize(37);
			max-width: 240px;
		}
		h2 {
			padding-bottom: 23px;
		}
		p {
			line-height: 20px;
			padding-bottom: 5%;
		}
		.header__resume_blurb, .header__contact_blurb {
			line-height: 18px;
		}
		.header__resume_blurb {
			min-width: 200px;
		}
		.header__contact_blurb {
			padding-top: 3%;
			min-width: 210px;
		}
		.header__socMedia{
			padding-top: 8px;
			a:nth-of-type(2) {
				padding-left: 25px;
				padding-right: 25px;
			}
			a:nth-of-type(3) {
				padding-right: 25px;
			}
		}
	}
}