header {
	@include fontSize(14);
	min-height: 840px;
	position: relative;
	background: linear-gradient(45deg, rgba(255, 255, 255, 0.9), rgba(198, 223, 223, 0.6)), url(/assets/hero.jpg);
	background-size: cover;
	background-position: center;
	nav {
		animation: fadein 3s;
		padding-top: 58px;
		padding-right: 10px;
		ul {
			display: flex;
			justify-content: flex-end;
			list-style: none;
		}
		li {
			padding-right: 25px;
			transition: all 0.2s ease-in;
		}
		li:hover {
			transform: scale(1.05);
			color: $salmon;
		}
		a {
			padding: 10px;
		}
		.nav__selected {
			font-weight: 700;
		}
	}
}

.header__blurb {
	animation: fadein 3s;
	h1 {
		padding-top: 50px;
		padding-bottom: 16px;
		color: $headergrey;
		@include fontSize(40);
		font-weight: 500;
	}
	h2 {
		font-family: $secondaryFont;
		@include fontSize(16);
		padding-bottom: 33px;
		font-style: italic;
		font-weight: 400;
	}
	p {
		line-height: 24px;
	}
	.header__resume_blurb, .header__contact_blurb {
		line-height: 37px;
		a {
			@include fontSize(10);
			padding-left: 11px;
		}
		i {
			@include fontSize(25); 
		}
	}
	.header__resume_blurb {
		padding-top: 37px;
	}
	.header__contact_blurb {
		padding-bottom: 55px;
	}

	.header__socMedia{
		padding-top: 28px;
		i {
			@include fontSize(20);
		}
		a {
			transition: all 0.2s ease-in;
		}
		a:hover {
			color: $salmon;
		}
		a:nth-of-type(2) {
			padding-left: 35px;
			padding-right: 35px;
		}
		a:nth-of-type(3) {
			padding-right: 35px;
		}
	}
}

@include respond-to("medium") {
	.link__arrow {
		position: static;
	}
}

@include respond-to("small") {
	header {
		background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url(/assets/hero.jpg);
		background-size: cover;
		background-position: center;
		nav {
			display: none;
		}
	}

	.header__blurb {
		h1 {
			@include fontSize(30);
		}
		h2 {
			padding-bottom: 23px;
		}
		p {
			line-height: 20px;
			padding-bottom: 5%;
		}
		.header__resume_blurb, .header__contact_blurb {
			line-height: 18px;
		}
		.header__resume_blurb {
			max-width: 200px;
		}
		.header__contact_blurb {
			padding-top: 3%;
			max-width: 210px;
		}
		.header__socMedia{
			padding-top: 8px;
			a:nth-of-type(2) {
				padding-left: 25px;
				padding-right: 25px;
			}
			a:nth-of-type(3) {
				padding-right: 25px;
			}
		}
	}
}