.portfolio {
	height: auto;
	position: relative;
	top: -60px;
}
.portfolio__header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 50%;
	margin-left: 50%;
	height: 270px;
	border-left: solid 1.5px $bordergrey;
	padding-left: 31px;
	// position: relative;
}

// .portfolio__header:after {
// 	position: absolute;
// 	content: "";
// 	left: 0;
// 	top: 0;
// 	width: 1.5px;
// 	height: 0;
// 	background-color: $bordergrey;
// 	transition: height 0.2s; 
// }

// .portfolio__header:hover:after {
// 	height: 100%;
// }

.portfolio__gallery {
	column-count: 2;
	column-gap: 32px;
	list-style: none;
	height: auto;
	padding-top: 33px;
	img {
		max-width: 100%;
		height: auto;
		border: solid 0.5px rgba(156, 165, 172, 0.39);
	}
	h3 {
		padding-top: 22px;
		padding-bottom: 11px;
		font-family: $secondaryFont;
		@include fontSize(24);
		color: $headergrey;
	}
	p {
		color: $descriptiongrey;
		font-weight: 400;
		line-height: 24px;
		@include fontSize(14);
		padding-bottom: 11px;
	}
}

.portfolio__piece {
	text-align: left;
	display: inline-block;
	margin-top: 20px;
	padding-bottom: 100px;
	transition: all 0.2s ease-in; 
	position: relative;
	h3, .portfolio__skills, p, .portfolio__gitlink {
		padding-left: 30px;
	}
	h3 {
		transition: 0.2s;
	}
	.portfolio__piece--border {
		transition: 0.2s;
	}
	.portfolio__gitlink {
		@include fontSize(12);
		i {
			@include fontSize(25); 
		}
	}
}

.portfolio__gitlink:hover {
	color: $teal;
	i {
		color: $teal;
	}
}


.portfolio__piece:hover {
	transform: scale(1.03);
	.portfolio__piece--border {
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 40px;
		border: 1px solid $teal;
	}
	h3 {
		color: $teal;
	}
}

.portfolio__skills {
	font-size: 3.5em;
	padding-bottom: 11px;
	i {
		padding: 11px;
		color: $descriptiongrey;
	}
}

@include respond-to("small") {
	.portfolio {
		height: 100%;
	}
	.portfolio__header {
		margin-left: 12.5%;
		width: auto;
	}
	.portfolio__gallery {
		column-count: 1;
	}
}