.portfolio {
	height: auto;
	position: relative;
	top: -60px;
}
.portfolio__header {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 50%;
	margin-left: 50%;
	height: 270px;
	border-left: solid 1.5px $bordergrey;
	padding-left: 31px;
}

.portfolio__gallery {
	column-count: 2;
	column-gap: 32px;
	list-style: none;
	height: auto;
	padding-top: 33px;
	li {
		display: inline-block;
	}
	img {
		max-width: 100%;
		height: auto;
		border: solid 0.5px rgba(156, 165, 172, 0.39);
	}
	h3, p {
		
		text-align: center;
	}
	h3 {
		padding-top: 40px;
		padding-bottom: 22px;
		font-family: $secondaryFont;
		font-style: italic;
		@include fontSize(24);
		color: $headergrey;
	}
	p {
		padding-bottom: 70px;
		color: $descriptiongrey;
		font-weight: 400;
		line-height: 24px;
		@include fontSize(14);
	}
}

@include respond-to("small") {
	.portfolio {
		height: 100%;
	}
	.portfolio__header {
		margin-left: 12.5%;
		width: auto;
	}
	.portfolio__gallery {
		column-count: 1;
	}
}