.skills {
	height: 418px;
	background: $background;
	.skills__wrapper {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	i {
		@include fontSize(80);
	}
}

@include respond-to("small") {
	.skills {
		display: flex;
		align-items: center;
		.skills__wrapper {
			height: auto;
			flex-wrap: wrap;
			justify-content: center;
		}
		i {
			padding: 8%;
		}
	}
}