$headergrey: #323337;
$paragrey: #5a5b61;
$blue: #c6dfdf;
$background: #f5f5f5;
$bordergrey: rgba(156, 165, 172, 0.63);
$descriptiongrey: #9ca5ac;

$mainFont: 'Montserrat', sans-serif;
$thirdFont: 'Playfair Display', serif;
$secondaryFont: 'Crimson Text', serif;
