$headergrey: #323337;
$paragrey: #5a5b61;
$bordergrey: rgba(156, 165, 172, 0.63);
$descriptiongrey: #9ca5ac;
$blue: #c6dfdf;
$background: rgba(198, 223, 223, 0.12);
$backgroundtwo: rgba(198, 223, 223, 0.3);
// $salmon: #FF9D77;
$salmon: #FF9900;
$teal: #26B5AD;
$darkblue: #3F608E;
$altblue: #8ACCD2;

$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Crimson Text', serif;
